{% extends 'main.html'%}
{% load static %}       
{% block content %}

<div class="containter blog-post">
    <div class="container" style="height: 100px"></div>        
    <div class="row">
        <div class="col-xl-4 col-xs-0"></div>
        <div class="col-xl-4 col-xs-12 blog-content">
            <center><img src={{ blogpost.main_image_thumb.url }} class="blogpost-header-picture"></center><br><br>
            <h1>{{ blogpost.title }}</h1>
            <p class="datum">{{ blogpost.created_at|date:"M d, Y"  }}</p>
            {{ blogpost.content.html|safe }}
            <div class="back-wrapper pt-5"><a href="{% url 'bloglist' %}" class="btn-blog-vissza">Vissza a többi poszthoz!</a></div>
        </div>
        <div class="col-xl-4 col-xs-0"></div>
    </div>
    <div class="container-fluid" style="height: 100px"></div>
</div>

{% endblock content %}