{% extends 'main.html'%}
{% load static %}       
{% block content %}

<div class="container" style="height: 120px;"></div>
<center><img src="{% static 'app_bettirelax/img/booking_succeeded.webp' %}" class="success-calendar" alt="sikeres foglalás a naptárban"></center><br>
<h1>Foglalásod megérkezett hozzám!</h1><br>
<p style="text-align: center;">Kérlek keresd a visszaigazoló emailek között! A foglalás akkor lesz végleges és <b>érvényes</b>, ha egy megerősítő emailt is kapsz a visszaigazoló email után.</p>
<p style="text-align: center;">Amennyiben nem kaptad meg a visszaigazoló emailt vagy bármilyen kérdésed van, keress az <a href={% url 'introduction' %}#cntct>elérhetőségeim</a> egyikén!</p>
<p><center><b>Betti</b></center></p>
<div class="container" style="height: 200px;"></div>

    

{% endblock content %}