{% extends 'main.html'%}
{% load static %}       
{% block content %}

<header>
<div id="slideshow">
    <div class="slides">
        <div class="slide" >
            <div class="container">
                <div class="caption">
                    <div class="inner">
                        <div class="cell">
                            <h1 class="title">Frissítő, Relaxáló Masszázs<br/> Szigetszentmiklóson  </h1>
                            <div class="buttons">                                            
                                <a href="#" class="button">Időpontfoglalás</a>
                            </div>
                            <h2> Nem számít, hogy merre laksz, <br> Vár Téged a Betti Relax!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</header>


<div class="container aboutme" id="abme">
    <div class="row">
        <div class="col-xl-6">
            <img src={{ aboutme.photo_thumb.url }} alt="Tankó Bettina Masszőr, Szigetszentmiklós" class="w-100">
        </div>
        <div class="col-xl-6 aboutme-text">
            <h2>
                A STRESSZMENTES ÉLET ITT KEZDŐDIK!
            </h2>
            <p>
                {{ aboutme.aboutme.html|safe }}
            </p>
        </div>
    </div>
</div>

<section class="service-section" id="services">
    <div class="container flower">
        <img  src={% static 'app_bettirelax/img/flower.png' %} alt="Tavirózsa Grafika">
    </div>

    <div class="container services">
        <h2>Masszázsok</h2>
            {% for service in services %}
                {% if forloop.counter0|divisibleby:3 or forloop.first %}
                <div class="row">
                    {% endif %}
                        <div class="col-xxl-4 col-lg-12 pb-5">
                            <div class="card">
                                <a href={% url 'service' service.slug %}><img src={{ service.service_main_img_thumb.url }} alt="Card image cap"></a>
                                <div class="card-body text-center pt-4">
                                <h5 class="card-title">{{ service.service_name }}</h5>
                                <p class="card-text">{{ service.get_price_range }}</p>
                                <a href={% url 'service' service.slug %} class="btn btn-primary">Részletek</a>
                                </div>
                            </div>
                        </div>
                    {% if forloop.counter|divisibleby:3 or forloop.last %}
                </div> 
                {% endif %}
            {% endfor %}
    </div>   
</section>

<div class="container hotstone">
    <img  src={% static 'app_bettirelax/img/hotstone.png' %} alt="Lávakövek Tavirózsával">
</div>

<div class="container studio-gallery">
    <h2>A STÚDIÓ</h2>
    <div class="row g-0">
        <!-- Első sor -->
            <div class="col-4 col-md-3 gallery-item first-row">
                <img src={% static 'app_bettirelax/img/studio1.webp' %} alt="Masszázsszalon Bejárati Ajtó">
            </div>
        <div class="col-8 col-md-6  gallery-item first-row">
            <img src={% static 'app_bettirelax/img/studio2.webp' %} alt="Masszázsszalon Enteriőr Kép">
        </div>
        <!-- Második sor -->
        <div class="col-4 col-md-3  gallery-item first-row order-2 order-md-1">
            <img src={% static 'app_bettirelax/img/studio3.webp' %} alt="Massázsolajok">
        </div>
        <div class="col-8 col-md-8  gallery-item first-row order-1 order-md-2">
            <img src={% static 'app_bettirelax/img/studio4.webp' %} alt="Masszázsolajok, Törölközővel - Relax Szalon">
        </div>
        <!-- Harmadik sor -->
        <div class="col-12 col-md-4  gallery-item order-3">
            <img src={% static 'app_bettirelax/img/studio5.webp' %} alt="Masszázs Ajándékkártya - Ajándékutalvány">
        </div>
    </div>
</div>

<section class="contact-section">

    <div class="container hotstone">
        <img  src={% static 'app_bettirelax/img/mapicon.png' %} alt="Elérhetőség Ikon - Lávakövekkel">
    </div>
    
    <div class="container contact" id="cntct">
        <div class="row no-gutters">
            <div class="col-xl-6 col-12">
                <h2>Kapcsolat</h2>
                <p>
                    {{ contact.contact_text.html|safe }}
                </p>
                <p>
                    <center><a href={{ contact.facebook_messenger }} target="_blank" class="contact-button"><i class="fab fa-facebook-messenger"></i> &nbsp facebook messenger </a></center>
                </p>
                <p>
                    <center><a href="mailto:{{ contact.email_address }}" target="_blank" class="contact-button"><i class="fa fa-envelope"></i>&nbsp {{ contact.email_address }} </a></center>
                </p>
                <p>
                    <center><a href="tel:{{ contact.phone_number }}" target="_blank" class="contact-button"><i class="fa fa-phone"></i>&nbsp {{ contact.phone_number }} </a></center>
                </p>                        
                <p>
                    <center><a href="#" target="_blank" class="contact-button"><i class="fa fa-calendar"></i>&nbsp időpontot foglalok </a></center>
                </p>              
                <br><br>
            </div>
            <div class="col-xl-6 col-12">
                    <div class="z-depth-1-half map-container">
                        <iframe 
                            src="{{ contact.address_link }}" 
                            width="100%"
                            height="450px"
                            allowfullscreen="" 
                            loading="lazy" 
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}